// Place all the styles related to the api/comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.post {
    .comments-count {
        margin-left: auto;
        display: flex;
        align-items: center;
    }
    
    .comments-logo {
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        font-size: 23px;
        font-weight: 100;
        margin-right: 6px;
        color: rgb(101, 103, 107);
    }

    .create-comment {
        display: flex;
        justify-content: space-between;
        margin-top: 12px;
        .image-container {
            width: 44px;
            height: 44px;
            border-radius: 50%;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $icon-color-navbar;
            box-sizing: border-box;
        }
    
        .image-container img {
            width: 140%;
            height: auto;
            display: block;
        }
    
        .image-container:hover {
            opacity: 0.7;
            transition: opacity 0.4s;
        }

        .create-comment-form {
            background-color: $light-gray;
            height: 100%;
            width: 100%;
            margin-left: 5px;
            padding: 8px 12px;
            border-radius: 25px;
            position: relative;

            .post-comment-logo {
                position: absolute;
                right: 7px;
                bottom: 15px;
                color: $facebook-blue;
                cursor: pointer;
            }

            .post-comment-logo.disabled {
                color: #BEC3C9;
                cursor: not-allowed;
            }

            textarea {
                border-radius: 25px;
                border: none;
                background-color: $light-gray;
                overflow: auto;
                outline: none;
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                box-shadow: none;
                resize: none;
                width: 100%;
                padding: 5px;
                font-family: system-ui, -apple-system, "system-ui", ".SFNSText-Regular", sans-serif;
                font-size: 15px;
            }
        }
    }
}


