

.navbar {

    display: flex;
    background-color: #FFFFFF;
    justify-content: space-between;
    height: 65px;
    position: sticky;
    top: 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);


    .left.focused {
        box-shadow: 0 12px 12px #C8C9CC, inset 0 0 0 0 #C8C9CC;
    }

    .left {
        width: 360px;
        display: flex;
        align-items: center;
        padding-left: 15px;
        position: relative;

        .arrow.hide {
            opacity: 0;
            max-width: 0;
            transition: max-width 0.3s ease-in-out, opacity 0.3s ease-in-out;
            pointer-events: none;
        }

        .logo.hide {
            opacity: 0;
            max-width: 0;
            transition: max-width 0.2s ease-in-out, opacity 0.2s ease-in-out;
            pointer-events: none;
        }

        // attempts to get background color on hover for the arrow
        // not perfect so commenting it out

        // .arrow-container:hover {
        //     background-color: #D2D5D8;
        // }

        // .arrow-container .arrow.hide {
        //     background-color: red;
        //     // display: none;
        // }

        // .arrow-container {
        //     // background-color: red;
        //     display: flex;
        //     align-items: center;
        //     justify-content: center;
        //     width: 40px;
        //     height: 40px;
        //     border-radius: 50%;

        // }

        // .arrow:hover {
        //     // background-color: #D2D5D8;
        //     // border: 10px solid #D2D5D8;
        // }

        .arrow {
            font-size: 22px;
            color: #65676B;
            font-weight: 800;
            border-radius: 50%;
            opacity: 1;
            max-width: 300px;
            transition: max-width 0.6s ease-in-out 0.09s, opacity 0.3s ease-in-out 0.09s;
        }

        .search {
            position: absolute;
            right: 13px;
            height: 80%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #EEF0F3;
            border-radius: 50px;
            width: 77%;
            transition: width 0.3s ease-in-out;


            input {
                border: none;
                background-color: #EEF0F3;
                margin-left: 10px;
                width: 80%;
                font-size: 0.99rem;
                font-weight: 0;
                outline: none;
            }

            .search-logo {
                color: #65676B;
                width: 16px;
                height: 16px;
            }
        }

        .search.focused {
            width: 83%;
            transition: width 0.5s;
        }

        .logo {
            opacity: 1;
            max-width: 300px;
            background-color: #1877f2;
            border-radius: 50%;
            width: 45px;
            height: 45px; 
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-weight: 700;
            font-size: 35px;
            opacity: 1;
            transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out;
        }

        .search-results {
            width: 360px;
            background-color: #FFFFFF;
            min-height: 50px;
            position: absolute;
            left: 0px;
            top: 64px;
            box-shadow: 0 12px 12px #C8C9CC, inset 0 0 0 0 #C8C9CC;


            div:first-of-type .search-item {
                margin-top: 5px;
            }

            div:last-of-type .search-item {
                margin-bottom: 10px;
            }

            .search-item {
                display: flex;
                align-items: center;
                padding: 8px;
                border-radius: 5px;
                padding: 6px;
                margin-right: 6px;
                margin-left: 6px;
            }

            .search-user-info {
                padding: 6px;
                padding-left: 12px;
            }

            .search-item:hover {
                background-color: #EEF0F3;
            }

            .image-container {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: grey;
            }
            
            .image-container img {
                width: 140%;
                height: auto;
                display: block;
            }

            .no-results {
                display: flex;
                justify-content: center;
                align-items: center;
                color: #65676B;
                font-size: 17px;
                margin-top: 15px;
                font-weight: 400;
            }
        }
    }
    
    .middle {
        display: flex;
        width: 25%;
        align-items: center;
        position: relative;
        right: 5%;

        a {
            width: 112px;
            height: 85%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            margin-right: 3px;
            margin-left: 3px;
        }


        a:first-of-type {
            border-bottom: 5px solid #1877f2;
        }

        a:hover {
            background-color: #EEF0F3;
        }
        
        .icon {
            font-size: 40px;
            color: #65676F;
        }

        .home-icon {
            color: #1877f2;
        }
    }
    
    .dropdown-container-icon-navbar:hover {
        border: none;
        background-color: #D2D5D8;
        box-sizing: border-box;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .dropdown-container-icon-navbar {
        height: 45px;
        width: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .dropdown-container-navbar {
        margin: 0px;
        border: 0px;
        padding: 0px;
        border: none;
        background-color: #E0E2E8;
        border-radius: 50%;
        height: 45px;
        width: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .dropdown-show-navbar {
        width: 20%;
        padding: 10px;
        background-color: white;
        position: fixed;
        top: 69px;
        right: 20px;
        border-radius: 5px;
    }
    
    .dropdown-hide-navbar {
        display: none;
    }
    
    .dropdown-show-navbar li {
        background-color: white;
        height: 30px;
        font-weight: 500;
        font-size: 17px;
        display: flex;
        align-items: center;
        padding: 10px;
    }
    
    .dropdown-show-navbar li:hover {
        background-color: #D2D5D8;
        border-radius: 5px;
    }
    
    .dropdown-show-navbar >li > span {
        margin-left: 10px;
    }


    .right {
        display: flex;
        align-items: center;
        width: 55px;
        position: relative;

        .image-container {
            width: 45px;
            height: 45px;
            border-radius: 50%;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #D2D5D8;
        }
        
        .image-container img {
            width: 140%;
            height: auto;
            display: block;
        }

        .image-container:hover {
            opacity: 0.7;
        }

        .user-name-container {
            position: absolute;
            right: 55px;
            width: 5%;
            display: flex;
            justify-content: flex-end;
            padding: 10px;
            width: auto;
        }
    }
}
