
nav {
    display: flex;
    background-color: #FFFFFF;
    justify-content: space-between;
    height: 65px;
    top: 0px;
    position: sticky;
}

.right {
    display: flex;
    align-items: center;
    width: 10%;
    justify-content: space-between;
    padding-right: 20px;
}

.logout-dropdown {
    background-color: #E0E2E8;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

// .dropdown-container:hover {
//     background-color: #D2D5D8;
//     cursor: pointer;
// }
.dropdown-container-icon:hover {
    border: none;
    background-color: #D2D5D8;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.dropdown-container-icon {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown-container {
    margin: 0px;
    border: 0px;
    padding: 0px;
    border: none;
    background-color: #E0E2E8;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-show {
    width: 20%;
    padding: 10px;
    background-color: white;
    position: fixed;
    top: 79px;
    right: 20px;
    border-radius: 5px;
}

.dropdown-hide {
    display: none;
}


.dropdown-show li {
    background-color: white;
    height: 30px;
    font-weight: 500;
    font-size: 17px;
    display: flex;
    align-items: center;
    padding: 10px;
}

.dropdown-show li:hover {
    background-color: #D2D5D8;
    border-radius: 5px;
}

.dropdown-show >li > span {
    margin-left: 10px;
}