// Place all the styles related to the api/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/




.newsfeed {
    display: flex;
    justify-content: space-between;

    .newsfeed-middle {
        // width: 36vw;
        width: 680px;
        // min-width: 400px;
        margin-top: 15px;
    }

    img {
        cursor: pointer;
    }
}

.create-post-top {
    height: 130px;
    background-color: white;
    border-radius: 7px;
    padding: 12px 16px;

    .create-post-buttons {
        display: flex;
        // background-color: red;
        // padding: 8px 0px 0px;
        // margin: 12px 0px 0px;

        justify-content: space-around;
        box-sizing: border-box;
        align-items: center;
        // height: 100%;
        width: 100%;

        div {
            // width: 50%;
            // margin: 10px;
            cursor: pointer;
            height: 45px;
            padding: 8px;
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 7px;
            margin: 5px 0px;
            background-color: white;
            transition: background-color 0.4s;
        }

        div:first-child {
            color: red;
            font-size: 30px;
        }

        div:last-child {
            color: #3add3a;
            font-size: 22px;
        }

        div:hover {
            background-color: #E0E2E4;
            transition: background-color 0.4s;
        }

    }

    .create-post-container {
        display: flex;
        align-items: center;
        border-radius: 20px;
        text-align: left;
        font-size: 17px;
        padding: 0px 0px 12px 10px;

        .create-post-text {
            // box-sizing: border-box;
            width: auto;
            margin-left: 10px;
            background-color: $light-gray;
            width: 91%;
            height: 50px;
            padding: 8px 12px;
            display: flex;
            align-items: center;
            border-radius: 25px;
            cursor: pointer;
            transition: background-color 0.4s;
            color: #65676B;
        }

        .create-post-text:hover {
            background-color: #E0E2E4;
            transition: background-color 0.4s;
        }

        .image-container {
            box-sizing: content-box;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $icon-color-navbar;
            opacity: 1;
            transition: opacity 0.4s;
        }

        .image-container img {
            width: 140%;
            height: auto;
            display: block;
        }

        .image-container:hover {
            opacity: 0.8;
            transition: opacity 0.4s;
        }
    }

    .hr {
        border-bottom: 1px solid #E0E2E4;
    }
}


// Styling for create post
.post-modal {
    // box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

    .create-post-header {
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-weight: 570;
        border-bottom: 1px solid #E0E2E4;
        position: relative;

        .cross {
            position: absolute;
            right: 16px;
            width: 36px;
            height: 36px;
            border-radius: 50%;
            background-color: $light-gray;
            color: #65676B;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }

        .cross:hover {
            background-color: #E0E2E4;
        }
    }

    .image-container {
        box-sizing: content-box;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: grey;
        opacity: 1;
        transition: opacity 0.4s;
    }

    .image-container img {
        width: 140%;
        height: auto;
        display: block;
    }

    .image-container:hover {
        opacity: 0.8;
        transition: opacity 0.4s;
    }

    .create-post-user-container {
        display: flex;
        align-items: center;
        padding: 16px 0px;
        margin: 0px 16px;
    }

    .create-post-user {
        font-weight: 549;
        padding-left: 13px;
    }

    textarea {
        border: none;
        resize: none;
        outline: none;
        width: 100%;
        font-size: 20px;
        font-family: system-ui, -apple-system, "system-ui", ".SFNSText-Regular", sans-serif;
        -webkit-font-smoothing: antialiased;
        color: black;
        padding: 0 16px;
        height: 20vh;
    }

    .create-post-submit {
        cursor: pointer;
        background-color: $facebook-blue;
        border-radius: 5px;
        border: 1px solid $facebook-blue;
        font-size: 16px;
        color: white;
        height: 36px;
        padding: 5px;
        // font-weight: bold;
        transition: background-color 0.4s, border 0.2s;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 16px 16px 16px;
    }

    .bottom-space {
        height: 1px;
    }

    .create-post-submit.disable {
        background-color: $light-gray;
        cursor: not-allowed;
        color: #65676B;
        border: 1px solid $light-gray;
    }

    .create-post-submit:hover:not(.disable) {
        background-color: #166fe5;
        transition: background-color 0.2s;
    }

    .create-post-submit:active:not(.disable) {
        border: 1px solid white;
    }

    input[type=file] {
        display: none;
    }

    .file-upload:hover {
        background-color: #f0f3f6;
        transition: background-color 0.2s;
    }

    .preview {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            max-width: 250px;
            max-height: 250px;
        }

        margin-bottom: 16px;
    }



    .file-upload {
        height: 58px;
        border: 0.5px solid #ced0d4;
        margin: 0px 16px;
        padding: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 7px;
        transition: background-color 0.2s;
        cursor: pointer;


        .logos {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-right: 15px;

            .video {
                color: red;
                font-size: 30px;
                padding: 10px;
                padding-top: 11px;
            }
        
            .photo {
                color: #3add3a;
                font-size: 22px;
            }
        }
    }
}
