// Place all the styles related to the api/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/




.newsfeed {
    display: flex;
    justify-content: space-between;

    .newsfeed-middle {
        width: 680px;
        margin-top: 15px;
    }

    .create-post-top {
        // height: 90px;
        height: 123px;
        background-color: white;
        border-radius: 7px;

        .create-post-container {
            display: flex;
            align-items: center;
            border-radius: 20px;
            text-align: left;
            font-size: 17px;
            padding: 12px 16px 10px;
            // font-family: Helvetica, Arial, sans-serif;

            .create-post-text {
                width: auto;
                margin-left: 10px;
                background-color: #EDF0F3;
                width: 90%;
                padding: 8px 12px;
                display: flex;
                align-items: center;
                border-radius: 25px;
                cursor: pointer;
            }

            .create-post-text:hover {
                background-color: #E0E2E4;
            }

            .image-container {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: grey;
            }

            .image-container img {
                width: 140%;
                height: auto;
                display: block;
            }

        }
        .hr-container {
            display: flex;
            justify-content: center;
            width: 100%;

            div {
                border-bottom: 1px solid #E0E2E4;
                width: 94%;
            }
        }
    }
}


  .post {
      padding: 15px;
      background-color: white;
      margin: 15px;
      border-radius: 7px;
  }

.hr {
    border-bottom: 1px solid #C7CACE;
}

.post-body {
    // font-family:Helvetica, Arial, sans-serif;
    font-size: 17px;
}


.post-header-photo {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color:#C7CACE;
}

.post-header {
    display: flex;
    flex-direction: row;
    // align-items: space-between;
    justify-content: space-between;
    // background-color: red;
}

.post-header-middle {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 87%;
}

.post-author-name {
    font-weight: 700;
    color: black;
}

.post-author-name:hover {
    text-decoration: underline;
}

.post-date {
    color: #C7CACE;
    font-size: 0.8125rem;
}
.post-date:hover {
    text-decoration: underline;
}

.post-header-dropdown {
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    background-color: inherit;
    // background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    // margin: 100px;
}

.post-header-dropdown:hover {
    background-color: #F0F0F0;
}

.hide-post-header-dropdown {
    display: none;
}


.show-post-header-dropdown {
    background-color: white;
    position: relative;
    top: 30px;
    right: 7vw;
    width: 15vw;
    border-radius: 7px;
    box-shadow: 0 0 10px #F0F0F0;
}

.show-post-header-dropdown li:hover {
    background-color: #F0F0F0;
}

.show-post-header-dropdown li {
    display: flex;
}



.post-body {
    padding-top: 10px;
    padding-bottom: 10px;
}


.post-buttons button {
    border-style: none;
    background-color: white;
    height: 40px;
    width: 49%;
    margin: 5px;
}

.post-buttons button:hover {
    background-color: #F0F0F0;
    border-radius: 5px;
}


.post-buttons {
    // height: 20px;
    display: flex;
    justify-content: space-between;
}


.post-modal {
    width: 30vw;
    height: 40vh;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 0 10px #F0F0F0;
};

