body:has(.photo-viewer-overlay) {
    .modal-child {
        position: relative;
        top: 0%;
        left: 0%;
        transform: translate(0%, 0%);
    }

    .photo-viewer-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }

    .photo-viewer-content {
        position: relative;
        width: fit-content;
        height: fit-content;
        max-width: 80vw;
        max-height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .photo-viewer-img {
        max-width: 80%;
        max-height: 80%;
        object-fit: contain;
    }

    .close-icon {
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 28px;
        color: white;
        cursor: pointer;
        z-index: 1001;
    }

    .close-icon:hover {
        color: #ccc;
        transition: color 0.2s ease-in-out;
    }
}