// STYLING FOR PROFILE PHOTO AND COVER PHOTO ON USER PROFILES
.profile-body {
    display: flex;
    justify-content: center;
}

.profile-right {
    width: 500px;
}

.profile-right > .newsfeed-middle {
    width: 100%;
}


.profile-cover-photo-div {
    width: 75%;
    background-color: grey;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    border-radius: 5px;
}

.profile-cover-photo-div > img {
    width: 100%;
}


.profile-profile-photo-div {
    width: 140px;
    height: 140px;
    background-color: grey;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3.5px solid white;
    position: absolute;
    left: 15vw;
    bottom: -55px;
}

.profile-profile-photo-div > img {
    width: 120%;
}

.profile-and-cover-photo {
    position: relative;
    background-color: white;
}

// Styling for upload buttons

.profile-cover-photo-button, .profile-profile-photo-button  {
    // position: absolute;
    // right: 0px;
    display: none;
}
.profile-cover-photo-button-label:active {
    background-color: red;
}

.profile-cover-photo-button:hover {
    background-color: red;
}

.profile-profile-photo-button-label {
    background-color: blue;
}

.profile-cover-photo-button-label {
    position: absolute;
    // display: block;
    width: fit-content;
    padding: 8px;
    right: 13vw;
    bottom: 30px;
    border-radius: 5px;
    // width: max-content;
    background-color: white;
}




