
.profile-body {
    display: flex;
    justify-content: center;
}

.profile-right {
    width: 500px;
}

.profile-right > .newsfeed-middle {
    width: 100%;
}


.cover-photo {
    width: 90%;
    background-color: grey;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}