// STYLING FOR PROFILE PHOTO AND COVER PHOTO ON USER PROFILES




.profile-body {
    display: flex;
    justify-content: center;

    .no-results {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #65676B;
        font-size: 17px;
        margin-top: 15px;
        font-weight: 400;
    }
}

.profile-right {
    width: 500px;
}

.profile-right > .newsfeed-middle {
    width: 100%;

    .posts-header-profile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        font-size: 20px;
        -webkit-font-smoothing: antialiased;
        font-weight: 700;
        background-color: white;
        border-radius: 7px;
        padding: 20px 16px;
        font-family: system-ui, -apple-system, "system-ui", ".SFNSText-Regular", sans-serif;
    }

    img {
        cursor: pointer;
    }
}


.profile-cover-photo-div {
    width: 75%;
    background: linear-gradient(to bottom, rgba(240, 240, 240, 0), rgba(169, 169, 169, 0.5));
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    border-radius: 5px;
    position: relative;
}

.profile-cover-photo-div > img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    transform: translate(-50%, -50%);
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    cursor: pointer;
}


.profile-profile-photo-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    
    .profile-photo-and-username {
        display: flex;
        height: fit-content;
        margin-bottom: 90px;
        align-items: center;
    }

    .profile-user-full-name {
        font-family: system-ui, -apple-system, "system-ui", ".SFNSText-Regular", sans-serif;
        font-size: 32px;
        font-weight: 700;
        -webkit-font-smoothing: antialiased;
        position: relative;
        top: 40px;
        left: 7px;
        height: fit-content;
    }

    .profile-profile-photo-div {
        width: 140px;
        height: 140px;
        background-color: white;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 3.5px solid white;
        position: relative;
        // left: 0px;
        // bottom: 50px;
    }

    .profile-profile-photo-div > img {
        width: 120%;
        cursor: pointer;
    }

    .profile-profile-photo-and-button {
        position: relative;
    }

    .profile-profile-photo-button-label {
        position: absolute;
        left: 100px;
        top: 99px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $light-gray;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        border: 0px solid $light-gray;
        cursor: pointer;
    }

    .profile-profile-photo-button-label:hover {
        background-color: #D2D5D8;
        cursor: pointer;
    }

    .profile-profile-photo-button-label:active {
        transform: scale(0.95);
        transition: transform 0.1s ease-in-out;
    }

    .profile-photo-button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $light-gray;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        cursor: pointer;
    }

    .facamera-profile-photo {
        cursor: pointer;
    }

    .friend-buttons-container {
        display: flex;
    }

    .edit-profile-button, .friend-button {
        background-color: $light-gray;
        margin-right: 10px;
        margin-bottom: 15px;
        width: fit-content;
        padding: 8px;
        border-radius: 5px;
        cursor: pointer;
        font-family: system-ui, -apple-system, "system-ui", ".SFNSText-Regular", sans-serif;
        font-weight: 550;
        font-size: 15px;
        display: flex;
        align-items: center;
    }

    .friend-logo, .edit-profile-logo {
        margin-right: 5px;
    }

    .unfriend-logo {
        margin-right: 5px;
        font-weight: 900;
        font-size: 16px;
    }

    .edit-profile-button:active, .friend-button:active {
        transform: scale(0.95);
        transition: transform 0.1s ease-in-out;
    }

    .edit-profile-button:hover, .friend-button:hover {
        background-color: #D2D5D8;
    }

    .blue {
        background-color: $facebook-blue;
        color: white;
    }

    .blue:hover {
        background-color: #166fe5;
    }
}

.profile-and-cover-photo {
    position: relative;
    background-color: white;
    .hr {
        border-bottom: 1px solid #E0E2E4;
        width: 72%;
        margin-left: auto;
        margin-right: auto;
    }
}

.profile-cover-photo-button, .profile-profile-photo-button  {
    display: none;
}

.profile-cover-photo-button-label {
    position: absolute;
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 8px;
    right: 35px;
    bottom: 16px;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    font-family: system-ui, -apple-system, "system-ui", ".SFNSText-Regular", sans-serif;
    font-weight: 550;
    font-size: 15px;
}

.profile-cover-photo-button-label:active {
        transform: scale(0.95);
        transition: transform 0.1s ease-in-out;
}


.profile-cover-photo-button-label:hover {
    background-color: $light-gray;
}

.facamera {
    margin-right: 10px;
    margin-bottom: 2px;
}


.unclickable {
    pointer-events: none;
}


.profile-navigation {
    display: flex;
    width: 72%;
    margin-right: auto;
    margin-left: auto;
    align-items: center;

    div {
        // box-sizing: border-box;
        font-family: system-ui, -apple-system, "system-ui", ".SFNSText-Regular", sans-serif;
        color: rgb(101, 103, 107);
        font-size: 15px;
        font-weight: 600;
        -webkit-font-smoothing: antialiased;
        // width: 82px;
        height: 52px;
        padding: 0px 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        margin-top: 4px;
        border-bottom: 4px solid white;
    }

    div.active {
        color: $facebook-blue;
        border-bottom: 4px solid $facebook-blue;
        border-radius: 0px;
    }

    div.active:hover {
        background-color: white;
    }


    div:hover {
        background-color: $light-gray;
        cursor: pointer;
    }

    div:active {
        background-color: #DDE1E5;
    }
}

.profile-body {
    width: 72%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 17px;

    .profile-right {
        width: 58%;
        // .newsfeed-middle {
        //     width: 100%;
        // }
    }

    .profile-left {
        // position: -webkit-sticky;
            // position: sticky;
            // top: 20px;
            width: 40.7%;
            // max-height: calc(100vh - 20px);


        // .profile-intro {
        //     background-color: white;
        //     border-radius: 7px;
        //     padding: 20px 16px;
        // }
    }
}






// Styling for photos component
.profile-left {
    .photos-preview {
        margin-top: 15px;
        background-color: white;
        border-radius: 7px;
        padding: 20px 16px;

        .photos-header {

            div {
                display: inline;
            }

            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            font-family: system-ui,
            -apple-system,
            "system-ui",
            ".SFNSText-Regular",
            sans-serif;

            div:first-child {
                font-size: 20px;
                -webkit-font-smoothing: antialiased;
                font-weight: 700;
            }

            div:first-child:hover {
                text-decoration: underline;
                cursor: pointer;
            }

            div:last-child {
                color: $facebook-blue;
            }

            div:last-child:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }

        .photos-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
            padding-top: 10px;
        }

        .single-photo-container {
            position: relative;
            width: 100%;
            aspect-ratio: 1 / 1;
            overflow: hidden;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 5px;
            cursor: pointer;
        }
    }
}