
.signup-form {
    background-color: #FFFFFF;
    border-radius: 10px;
}

.signup-form-head {
    padding: 15px;
}

.signup-form-body {
    padding: 12px;
}

.signup-line {
    border-bottom: 1px solid #D5D8DC;
}

.signup-form-body input {
    background-color: #F3F5F6;
    border-radius: 3px;
    border: 1px solid #D5D8DC;
    // padding: 10px;
    padding: 8px;
    // margin: 10px;
    color: #828993;
}

.signup-form-body input::placeholder {
  color: #828993;
  opacity: 1;
}
