/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "./reset";
@import 'variables';
@import "./api/login_form";
@import "./api/navbar";
@import "./api/newsfeed";
@import "./api/post";
@import "./api/modal";
@import "./api/sign_up";
@import "./api/profile";
@import "./api/like_index";
@import "./api/likes";
@import "./api/comments";
@import "./api/photos_tab";
@import "./api/friends_preview";
@import "./api/friends_tab";
@import "./api/profile_intro";

body {
    background-color: #EEF0F3;
    font-family: system-ui, -apple-system, "system-ui", ".SFNSText-Regular", sans-serif;
    -webkit-font-smoothing: antialiased;
}
